body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f0f4f8;
}

.App-container {
  max-width: 500px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #ffffff;
  box-shadow: 0px 0px 2px #102a43;
}

.App-header {
  text-align: center;
  background-color: #222;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-content {
  padding: 12px 24px;
}
