{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "exclude": ["@babel/plugin-transform-regenerator"]
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    ["module:fast-async", {
      "compiler": {
        "noRuntime": true
      }
    }]
  ]
}
