{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "loose": true,
        "exclude": ["@babel/plugin-transform-regenerator"]
      }
    ],
    "@babel/react"
  ],
  "plugins": ["babel-plugin-transform-async-to-promises"],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/env",
          {
            "modules": "commonjs",
            "loose": true,
            "exclude": ["@babel/plugin-transform-regenerator"]
          }
        ]
      ],
      "plugins": ["babel-plugin-transform-async-to-promises"]
    }
  }
}
