{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "pluginSearchDirs": false,
  "plugins": ["prettier-plugin-svelte"],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
