.previewAlertContainer {
  display: flex;
  justify-content: center;
}

.previewAlert {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border: 1px solid #eaeaea;
  width: 400px;
  padding: 16px;
  border-radius: 5px;
}

.escapePreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: black;
  border: 1px solid black;
  color: white;
  padding: 10px;
  height: 24px;
  border-radius: 5px;
  transition: all 0.2s ease 0s;
}
.escapePreview:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

.titleContainer {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}
.draftBadge {
  border-radius: 16px;
  background-color: black;
  color: white;
  font-size: 14px;
  font-weight: 200;
  padding: 2px 7px;
  margin-right: 6px;
}

.noPosts {
  text-align: center;
}
