name: react-query tests

on:
  push:
    branches:
      - 'v3'
env:
  NX_DAEMON: false
  NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}
jobs:
  test:
    name: 'Node ${{ matrix.node }}, React ${{ matrix.react }}'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [14, 16]
        react: [17, 18]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - name: Install dependencies
        uses: bahmutov/npm-install@v1
      - run: yarn test:ci
        env:
          REACTJS_VERSION: ${{ matrix.react }}
      - run: yarn test:size
        if: matrix.node == '16' && matrix.react == '18'
        env:
          BUNDLEWATCH_GITHUB_TOKEN: ${{ secrets.BUNDLEWATCH_GITHUB_TOKEN }}
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2

  publish-module:
    name: 'Publish Module to NPM'
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14
          registry-url: https://registry.npmjs.org/
      - name: Install dependencies
        uses: bahmutov/npm-install@v1
      - run: yarn build
      - run: npx semantic-release@17
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
          GH_TOKEN: ${{secrets.GH_TOKEN}}
