name: ci
concurrency:
  group: publish-${{ github.github.base_ref }}
  cancel-in-progress: true
on:
  workflow_dispatch:
    inputs:
      tag:
        description: override release tag
        required: false
  push:
jobs:
  test-and-publish:
    if: github.repository == 'TanStack/query' && github.event_name != 'pull_request'
    name: 'Test & Publish'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: '0'
      - uses: pnpm/action-setup@v2.2.2
        with:
          version: 7
      - uses: actions/setup-node@v2
        with:
          node-version: 16.14.2
          registry-url: https://registry.npmjs.org/
      - run: |
          pnpm --filter "./packages/**" --filter query install
          git config --global user.name 'Tanner Linsley'
          git config --global user.email 'tannerlinsley@users.noreply.github.com'
          pnpm run cipublish
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          TAG: ${{ inputs.tag }}
