name: pr

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

env:
  NX_CLOUD_DISTRIBUTED_EXECUTION: false
  NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}
  NX_CLOUD_AUTH_TOKEN: ${{ secrets.NX_CLOUD_AUTH_TOKEN }}

jobs:
  main:
    name: Nx Cloud - Main Job
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0
      - name: Start Nx Agents
        run: npx nx-cloud start-ci-run
      - name: Setup Tools
        uses: tanstack/config/.github/setup@main
      - name: Get base and head commits for `nx affected`
        uses: nrwl/nx-set-shas@v4.4.0
        with:
          main-branch-name: v4
      - name: Run Tests
        run: pnpm run test:pr --parallel=3
      - name: Stop Agents
        run: npx nx-cloud stop-all-agents
  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0
      - name: Setup Tools
        uses: tanstack/config/.github/setup@main
      - name: Run prettier
        run: pnpm run test:format
  test-react-version:
    name: 'Test React Version'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        react-version: [17, 18]
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0
      - name: Setup Tools
        uses: tanstack/config/.github/setup@main
      - name: Get base and head commits for `nx affected`
        uses: nrwl/nx-set-shas@v4.4.0
        with:
          main-branch-name: v4
      - name: Run Tests for React ${{ matrix.react-version }}
        uses: nick-fields/retry@v2.8.3
        with:
          timeout_minutes: 5
          max_attempts: 3
          command: npx nx affected --targets=test:lib --base=${{ github.event.pull_request.base.sha }}
        env:
          NX_CLOUD_DISTRIBUTED_EXECUTION: false
          REACTJS_VERSION: ${{ matrix.react-version }}
