name: pr
on: [pull_request]
env:
  NX_DAEMON: 'false'
jobs:
  test:
    name: 'Test'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.4
        with:
          version: 7
      - uses: actions/setup-node@v3
        with:
          node-version: 16.14.2
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm --filter "./packages/**" --filter query --prefer-offline install
      - run: pnpm test:lib
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
  lint:
    name: 'Lint'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.4
        with:
          version: 7
      - uses: actions/setup-node@v3
        with:
          node-version: 16.14.2
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm --filter "./packages/**" --filter query --prefer-offline install
      - run: pnpm run test:eslint
  typecheck:
    name: 'Typecheck'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.4
        with:
          version: 7
      - uses: actions/setup-node@v3
        with:
          node-version: 16.14.2
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm --filter "./packages/**" --filter query --prefer-offline install
      - run: pnpm run test:types
  format:
    name: 'Format'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.4
        with:
          version: 7
      - uses: actions/setup-node@v3
        with:
          node-version: 16.14.2
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm --filter "./packages/**" --filter query --prefer-offline install
      - run: pnpm run test:format
  test-react-17:
    name: 'Test React 17'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.4
        with:
          version: 7
      - uses: actions/setup-node@v3
        with:
          node-version: 16.14.2
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm --filter "./packages/**" --filter query --prefer-offline install
      - run: pnpm run test:react:17
        env:
          REACTJS_VERSION: 17
  test-build:
    name: 'Test Build'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.4
        with:
          version: 7
      - uses: actions/setup-node@v3
        with:
          node-version: 16.14.2
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm --filter "./packages/**" --filter query --prefer-offline install
      - run: pnpm run test:build
        env:
          BUNDLEWATCH_GITHUB_TOKEN: ${{ secrets.BUNDLEWATCH_GITHUB_TOKEN }}
