name: pr

on: [pull_request]

env:
  NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}
  BUNDLEWATCH_GITHUB_TOKEN: ${{ secrets.BUNDLEWATCH_GITHUB_TOKEN }}

jobs:
  main:
    name: Nx Cloud - Main Job
    uses: nrwl/ci/.github/workflows/nx-cloud-main.yml@v0.13.0
    with:
      node-version: "18.16.0"
      pnpm-version: "8.6.0"
      main-branch-name: "alpha"
      artifacts-name: "coverage-artifact"
      artifacts-path: "packages/**/coverage/**"
      parallel-commands: |
        npx nx test:format
        npx nx affected --targets=test:eslint,test:types,test:build,test:lib
  codecov:
    name: Codecov
    needs: main
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Downloading artifacts
        uses: actions/download-artifact@v3
        with:
          name: "coverage-artifact"
          path: path/to/artifact
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
